<script>
    import {currentCandidateIdStore} from "../stores/Store";
    import {currentElectionIdStore} from "../stores/Store";
    import defaultProfilePicture from '/defaultProfilePicture.png';

    const onImageError = `this.onerror=null; this.src='${defaultProfilePicture}'`;

    let currentElectionId;
    currentElectionIdStore.subscribe(id => currentElectionId = id);

    export let candidate;
</script>

<a href={"/elections/" + currentElectionId + "/candidates/" + candidate.id} on:click={currentCandidateIdStore.set(candidate.id)}>
    <div id="candidate">
        <b>{candidate.username}</b>
        {#if candidate.file == null}
            <img src={defaultProfilePicture} alt="candidateIcon" onerror={onImageError}>
        {:else}
            <img src={"data:image/gif;base64," + candidate.file.data} alt="candidateIcon" onerror={onImageError}>
        {/if}
    </div>
    <p>{candidate.slogan}</p>
</a>

<style>
    #candidate{
        margin-top: auto;
        margin-bottom: auto;
    }

    a{
        text-decoration: none;

        padding-left: 1em;
        padding-right: 1em;

        margin: 1em auto 1.5em;

        max-width: 40em;

        display: flex;
        flex-direction: column;
    }

    img{
        outline-style: solid;
        outline-color: white;
        margin: 0.75em auto;
        display: block;
        border-radius: 10em;
        width: 10em;
        height: 10em;
    }

    p, b{
        color: #e6e6e6;
        overflow-wrap: break-word;
    }

    p{
        margin: auto 1em;
        overflow-y: auto;
        max-width: 20em;
        text-align: center;
    }

    b{
        text-align: center;
        display: block;
        font-size: 1.2em;
    }
</style>