<script>
    import {clickOutside} from '../scripts/clickOutside.js';
    let name = 'world';

    function handleClickOutside(event) {
        closeModal();
    }
    export let text, confirmbutton, cancelButton, confirm, id;
    // Get the modal
    let modal;


    // Get the <span> element that closes the modal
    let span = document.getElementsByClassName("close")[0];


    // When the user clicks the button, open the modal
    export function openModal() {
        modal = document.getElementById(id);
        modal.style.display = "block";
    }

    export function closeModal() {
        modal = document.getElementById(id);
        modal.style.display = "none";
    }

    function confirmCloseModal () {
        confirm ();
        closeModal ()
    }

</script>

<!-- The Modal -->
<div >
<div id={id} class="modal">

    <!-- Modal content -->
    <div class="modal-content" use:clickOutside on:click_outside={handleClickOutside}>
        <div class="modal-header">
            <span title="{cancelButton}" on:click={closeModal} class="close">&times;</span>

        </div>
        <div class="modal-body">
            <p class="textColor">{text}</p>
        </div>
        <div class="modal-footer">
            <div class="button">
                <button class="popupButton" on:click={confirmCloseModal}>{confirmbutton}</button>
                <button on:click={closeModal} class="popupButton">{cancelButton}</button>
            </div>

        </div>
    </div>

</div>
</div>



<style>
    body {font-family: Arial, Helvetica, sans-serif;}


    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 6.25em;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #333333;
        margin: auto;
        max-width: 37.5em;
        padding: 0;
        border: 0.06em solid #888;
        width: 80%;
        box-shadow: 0 0.25em 0.5em 0 rgba(0,0,0,0.2),0 0.375em 1.25em 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }

    /* Add Animation */
    @-webkit-keyframes animatetop {
        from {top:-18.75em; opacity:0}
        to {top:0; opacity:1}
    }

    @keyframes animatetop {
        from {top:-18.75em; opacity:0}
        to {top:0; opacity:1}
    }

    /* The Close Button */
    .close {
        color: white;
        float: right;
        font-size: 1.75em;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .modal-header {
        padding: 0.125em 1em;
        background-color: #333333;
        color: #333333;
    }

    .modal-body {
        padding: 0.125em 1em;
        background-color: #333333;
    }

    .modal-footer {
        padding: 0.125em 1em 0 1em;
        background-color: #333333;
        color: #333333;
    }

    .popupButton {
        background-color: #6b6b6b;
        border: 0.06em solid transparent;
        border-radius: 0.18em;
        box-shadow: rgba(255, 255, 255, .4) 0 0.06em 0 0 inset;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 0.8em;
        /*margin-left: 10px;*/
        font-weight: 400;
        line-height: 1.15385;
        min-width: 6.25em;
        padding: 0.5em .8em;
        text-align: center;
    }

    .popupButton:hover,
    .popupButton:focus {
        background-color: #5c5c5c;
    }

    .popupButton:focus {
        box-shadow: 0 0 0 0.25em rgba(0, 149, 255, .15);
    }

    .popupButton:active {
        background-color: #0064bd;
        box-shadow: none;
    }

    .button{
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
    }

    button {
        margin-top: 1em;
        margin-bottom: 1em;

        /*position: relative;*/
        /*display: block;*/
        /*margin: 7px auto;*/
        /*width: 226px;*/
    }

    .textColor {
        color: white;
        text-align: center;
    }

    @media screen and (max-width: 25em) {
        .popupButton {
            /*margin: auto;*/
            display: block;
        }
    }
</style>