<script>
    import router from "page";
    import {tokenStore} from "../stores/Store";

    let description, slogan, views;
    let descriptionMaxLength = 250;
    let sloganMaxLength = 100;
    let viewsMaxLength = 250;
    let profilePictureSource = "../../photos/profile.png";
    let errorMessage = "";

    export let candidate;
    description = candidate.description;
    slogan = candidate.slogan;
    views = candidate.standpoints;

    function editCandidate(){
        putElectableUser();
        router.redirect('/');
    }

    async function putElectableUser() {
            try {
                let response = await fetch('http://localhost:8080/electableUsers/'+candidate.id, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': $tokenStore.token
                    },
                    body: JSON.stringify({
                        "username": candidate.username,
                        "description": description,
                        "photoURL": profilePictureSource,
                        "slogan": slogan,
                        "standpoints": views,
                        "votes": 0,
                        "election" : {
                            "id" : candidate.election.id
                        },
                        "user" : {
                            "id" : candidate.user.id
                        }
                    })
                });
                if (!response.ok) {
                    return;
                }
            } catch (error) {
                errorMessage = error;
                console.log(error);
            }
    }

</script>

<section class="profilePicture">
    <p>{errorMessage}</p>
    <img src="../../photos/profile.png" alt="profilePicture" width="150" height="150">
    Verander foto
    <form>
        <input type="file" accept="image/png, image/jpeg" bind:value={profilePictureSource}>
    </form>
</section>
<section class="profileInformation">
    <div class="descriptionField">
        <label for="descriptionInput">Beschrijving (max lengte van {descriptionMaxLength})</label>
        <textarea required id="descriptionInput" bind:value={description} maxlength={descriptionMaxLength}></textarea>
    </div>
    <div class="sloganField">
        <label for="sloganInput">Slogan (max lengte van {sloganMaxLength})</label>
        <textarea required id="sloganInput" bind:value={slogan} maxlength={sloganMaxLength}></textarea>
    </div>
    <div class="viewsField">
        <label for="viewsInput">Standpunten (max lengte van {viewsMaxLength})</label>
        <textarea required id="viewsInput" bind:value={views} maxlength={viewsMaxLength}></textarea>
    </div>
</section>
<button id="confirmButton" on:click={editCandidate}>Bevestig</button>

<style>
    p{
        color: red;
    }
    button {
        width: 8.1em;
        height: 1.8em;
    }

    .profilePicture {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profilePicture img {
        background: white;
        border-radius: 18.75em;
    }

    .profilePicture form{
        display: flex;
        flex-direction: column;
    }

    .profilePicture input{
        margin-bottom: 0.125em;
    }

    .profileInformation {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 18.75em;
    }

    .descriptionField {
        flex-basis: 100%;
        margin: 1em;
    }

    .sloganField {
        margin: 1em;
        height: 16%;
    }

    .viewsField {
        margin: 1em;
        height: 62.6%;
    }

    textarea {
        outline: none;
        border: none;
        display: block;
        resize: none;
        font-size: 14pt;
        line-height: 1.2em;
        justify-content: left;
        width: 100%;
        height: 100%;
        border-radius: 0.625em;
    }

    label {
        color: white;
        font-size: 1.25em;
        display: block;
        text-align: left;
        width: 100%;
    }

    #confirmButton {
        cursor: pointer;
        position: relative;
        bottom: -1.4em;
    }

    @media (max-width: 42.5em) {
        .profileInformation {
            flex-wrap: nowrap;
        }

        .descriptionField {
            order: 1;
            margin: 1em;
        }

        .sloganField {
            order: 2;
            margin: 1em;
        }

        .viewsField {
            order: 3;
            margin: 1em;
            padding-bottom: 8em;
        }
    }

    @media (max-width: 20.9em) {
        label {
            font-size: 0.8125em;
        }
    }
</style>