<script>
    import UpcomingElectionListElement from "./UpcomingElectionListElement.svelte";
    import StartedElectionListElement from "./StartedElectionListElement.svelte";
    import FinishedElectionListElement from "./FinishedElectionListElement.svelte";
    import {userRole} from "../stores/Store";
    import {tokenStore} from "../stores/Store";

    /**
     * Gets the information of all existing elections
     * @returns Election elements existing in database
     */
    async function fetchAllElections(){
        // Fetches elections
        let response = await fetch('http://localhost:8080/elections/', {
            method: 'GET',
            headers: {
                'Authorization': $tokenStore.token,
                'Content-Type': 'application/json',
            }
        })
        // Checks if the response was valid
        if (response.status < 200 || response.status >= 300) {
            response = await response.json();
            throw "Error " + response.status + ": " + response.message;
            return;
        }

        return await response.json();
    }
</script>

<div class="listItems">
    {#await fetchAllElections()}
        <p>Loading</p>
        {:then elections}
        {#each elections as election}
            {#if new Date(election.startDate) > Date.now()}
                <UpcomingElectionListElement election={election}/>
            {:else if new Date(election.endDate) > Date.now()}
                <StartedElectionListElement election={election}/>
            {:else if $userRole === "admin"}
                <FinishedElectionListElement election={election}/>
            {/if}
        {/each}
    {:catch error}
        <b id="error">{error}</b>
    {/await}
</div>

<style>
    .listItems {
        display: flex; /* or inline-flex */
        flex-direction: column;
        gap: 0.5em;
        flex-wrap: wrap;
        padding: 1%;
        justify-content: center;
        align-items: center;
    }

</style>