<script>
    export let startDate;
    export let endDate;

    let time = 'current';

    if (startDate > Date.now()) {
        time = 'upcoming';
    } else if (endDate < Date.now()) {
        time = 'completed';
    }

</script>

<div class="box" class:current="{time === 'current'}" class:upcoming="{time === 'upcoming'}"
     class:completed="{time === 'completed'}">
    <slot></slot>
</div>

<style>
    .box {
        color: white;
        float: left;
        left: 0.625em;
        border-radius: 0.93em;
        border: 0.06em black solid;
        position: relative;
        text-align: center;
        padding-top: 1.5%;
        font-size: 0.93em;
    }

    .current {
        background-color: #2f7424;
    }

    .upcoming {
        background-color: #2d1f76;
    }

    .completed {
        background-color: #353535;
    }
</style>