<script>
    import {writable} from "svelte/store";

    export let election;
    export let onSubmit;
    export let errorMessage;

    let submitting = false;

    let description, startDate, endDate, numberOfVotes, canVoteOnSelf, voterEmails = writable([]), newEmail;

    if (election) {
        description = election.description;
        startDate = election.startDate;
        endDate = election.endDate;
        numberOfVotes = election.numberOfVotes;
        canVoteOnSelf = election.canVoteOnSelf;
        voterEmails.set(election.voters.map(voter => voter.user.email));
    }

    const nameMaxLength = 50;
    const maxEmailLength = 50;

    /**
     * validates the input from the user and sends the election data
     */
    function validateInput() {
        if(submitting){
            return;
        }
        submitting = true;
        //check the name
        if (!document.getElementById('name').value) {
            errorMessage = "Geef een naam aan.";
            submitting = false;
            return;
        }

        //check the dates
        let dateStart = document.getElementById('dateStart').value;
        let dateEnd = document.getElementById('dateEnd').value;

        if (!dateStart) {
            errorMessage = "Geef een begindatum aan.";
            submitting = false;
            return;
        }
        if (!dateEnd) {
            errorMessage = "Geef een einddatum aan.";
            submitting = false;
            return;
        }

        dateStart = new Date(dateStart);
        dateEnd = new Date(dateEnd);

        if (dateStart < Date.now()) {
            errorMessage = "Geef een begindatum na vandaag.";
        } else if (dateEnd <= dateStart) {
            errorMessage = "Geef een einddatum na de startdatum.";
        } else if (document.getElementById('noVotes').value < 1) {
            errorMessage = "Geef een aantal stemmen per persoon.";
        } else {

            //put all info together
            election = {
                'name': document.getElementById('name').value,
                'description': document.getElementById('name').value,
                'startDate': dateStart,
                'endDate': dateEnd,
                'numberOfVotes': document.getElementById('noVotes').value,
                'canVoteOnSelf': document.getElementById('canVoteOnSelf').checked,
                'voters': $voterEmails
            }

            onSubmit();
        }
        submitting = false;
    }

    function deleteEmail(email) {
        $voterEmails.splice($voterEmails.indexOf(email), 1);
        voterEmails.set($voterEmails);
    }

    function addEmail(event) {
        event.preventDefault();

        //check if email is undefined
        if (!newEmail){
            errorMessage = "vul een email in";
            return;
        }

        //check if email is already in the list of candidates
        if ($voterEmails.includes(newEmail)){
            errorMessage = "Je kan niet dezelfde email toevoegen aan de lijst van kandidaten.";
            return;
        }

        //check if the email doesn't exceed the max length
        if (newEmail.length < maxEmailLength) {
            $voterEmails.push(newEmail);
            voterEmails.set($voterEmails);
        }else {
            errorMessage = "Vul een kortere email in.";
            return;
        }
        newEmail = "";
        errorMessage = undefined;
    }

    function showEnd(){
        const endPicker = document.getElementById('dateEnd')
        endPicker.showPicker();
    }
    function showStart(){
        const startPicker = document.getElementById('dateStart')
        startPicker.showPicker();
    }
</script>

<div class="wholePage">
    <div class="formBox">
        <form>
            <div class="item">
                <label for='name'>Naam</label>
                <input type='text' id='name' name='name' bind:value={description} maxlength={nameMaxLength}/>
            </div>
            <div class="item">
                <label for='dateStart'>Start datum</label>
                <input type="date" id='dateStart' name='dateStart' on:click={showStart} bind:value={startDate}/>
            </div>
            <div class="item">
                <label for='dateEnd'>Eind datum</label>
                <input type="date" id='dateEnd' name='dateEnd' on:click={showEnd} bind:value={endDate}/>
            </div>
            <div class="item">
                <label for='noVotes'>Stemmen per persoon</label>
                <input type="number" id='noVotes' name='noVotes' bind:value={numberOfVotes}/>
            </div>
            <div class="item" id="canVoteOnSelfDiv">
                <label for='canVoteOnSelf'>Kan op zichzelf stemmen</label>
                <input type='checkbox' id='canVoteOnSelf' name='canVoteOnSelf' bind:checked={canVoteOnSelf}/>
            </div>
        </form>
    </div>
    <div id="emailHolder">
        <label id="inviteText">Nodig mensen uit.</label>
        <table id="emails">
            {#each $voterEmails as email}
                <tr>
                    <td class="emailData">{email}</td>
                    <td class="deleteEmailButton">
                        <button on:click={deleteEmail(email)}>Verwijder</button>
                    </td>
                </tr>
            {/each}
        </table>
        <form on:submit={addEmail}>
            <input id="emailField" type="email" bind:value={newEmail}>
            <input id="addEmailButton" type="submit" value="Voeg toe">
        </form>
        <div class="buttonEdit" on:click={validateInput}>Bevestig</div>
        {#key errorMessage}
            {#if errorMessage}
                <div class="message">{errorMessage}</div>
            {/if}
        {/key}
    </div>
</div>

<style>

    #emailField {
        margin-bottom: 0.5em;
    }

    .emailData {
        float:left;
        width: 20em;
        word-wrap: break-word;
        text-align: left;
    }

    .deleteEmailButton {
        float: right;
    }

    .wholePage {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        color: white;
        margin: auto auto 13%;
    }

    #emailHolder {
        height: 25em;
        margin: .5%;
        padding: .5%;
    }

    textarea {
        height: 85%;
        resize: none;
    }

    .formBox {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    .deleteEmailButton button, #addEmailButton {
        background-color: #6b6b6b;
        border: 1px solid transparent;
        border-radius: 3px;
        box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.15385;
        text-align: center;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    #addEmailButton {
        padding: 0;
    }

    .buttonEdit {
        background-color: #6b6b6b;
        border: 0.06em solid transparent;
        border-radius: 0.18em;
        box-shadow: rgba(255, 255, 255, .4) 0 0.06em 0 0 inset;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 0.81em;
        margin-left: 0.625em;
        margin-top: 7%;
        font-weight: 400;
        line-height: 1.15385;
        padding: 0.5em .8em;
        text-align: center;
    }

    .buttonEdit:hover,
    .buttonEdit:focus {
        background-color: #5c5c5c;
    }

    .buttonEdit:focus {
        box-shadow: 0 0 0 0.25em rgba(0, 149, 255, .15);
    }

    .buttonEdit:active {
        background-color: #0064bd;
        box-shadow: none;
    }

    form .item {
        position: relative;
        margin: 5%;
    }

    .item input:focus ~ label,
    .item input:valid ~ label {
        top: -0.31em;
        color: white;
    }

    .message {
        font-size: 0.875em;
        color: red;
        margin: 1%;
    }

    h2 {
        font-size: 1em;
    }

    nav ul {
        height: 21.875em;
        overflow: hidden;
        overflow-y: scroll
    }

    input {
        width: 100%;
        height: 1.75em;
        font-size: 0.875em;
        border-radius: 0.625em;
        color: black;
        border: none;
        outline: none;
        line-height: 1.2em;
        background-color: white;
    }

    label {
        transform: translateY(-50%);
        margin: 3%;
        color: white;
        font-size: 1.25em;
    }

    #inviteText{
        margin-top: 0;
    }

    #canVoteOnSelfDiv{
        margin-bottom: 0em;
    }
</style>