<script>
    export let election;

    const parsedStartDate = new Date(election.startDate);
    const formattedStartDate = formatDate(parsedStartDate);

    const parsedEndDate = new Date(election.endDate);
    const formattedEndDate = formatDate(parsedEndDate);

    function formatDate(date){
        return date.getUTCDate() + "-" + (date.getUTCMonth() + 1) + "-" + date.getUTCFullYear();
    }
</script>

<div class="num-display">
    {election.id}
</div>
<div class="boxDescription">

    <p>Naam: {election.description}</p>
    <p>Start datum: {formattedStartDate}</p>
    <p>Eind datum: {formattedEndDate}</p>

</div>

<style>
    .boxDescription p {
        margin: 0.06em;
    }
    .num-display{
        position: absolute;
        top: -0.625em;
        left: -0.625em;
        width: 1.06em;
        height: 1.06em;
        background: black;
        color: gray;
        border: 0.06em black solid;
        border-radius: 50%;
        padding: 0.625em;
        text-align: center;
    }
</style>