<script>
    export let text;
    export let value;

    const maxEmailLength = 50;
</script>

<label class="Email">
    <label>{text}</label>
    <input bind:value={value} class="EmailInput" required type="email" maxlength={maxEmailLength}>
</label>

<style>
    .Email{
        margin: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    input {
        width: 100% ;
        height: 1.5em;
        font-size: 0.875em;
        border-radius: 0.625em;
        color: black;
        border: none;
        outline: none;
        line-height: 1.2em;
        background-color: white;
        margin: 1em auto;
        max-width: 15em;
    }

    label {
        color: white;
        font-size: 1.05em;
        display: block;
    }

</style>