<script>
    import ElectionInfo from "./ElectionInfo.svelte";
    import ButtonDeleteElection from "./Buttons/ButtonDeleteElection.svelte";
    import ButtonView from "./Buttons/ButtonView.svelte";
    import ElectionListElementInfo from "./ElectionListElementInfo.svelte";
    import router from "page";
    import {currentElectionIdStore} from "../stores/Store";
    import {userRole} from "../stores/Store.js";

    export let election

</script>

<div class="container" id="container{election.id}">
    <ElectionInfo startDate = {new Date(election.startDate)} endDate = {new Date(election.endDate)}>
        <ElectionListElementInfo election={election}/>
        <div class="buttons">
            <ButtonView onView={()=> {router.redirect('/elections/' + election.id); currentElectionIdStore.set(election.id)}}></ButtonView>
            {#if ($userRole === "admin")}
                <ButtonDeleteElection electionId={election.id}/>
            {/if}
        </div>
    </ElectionInfo>
</div>

<style>
    .container {
        display: flex; /* or inline-flex */
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 80%;
        padding-bottom: .5%;
    }

    .buttons{
        display: flex; /* or inline-flex */
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: .5%;
    }
</style>