<script>
    import linkedInLogo from '/linkedInWhite.png';
    import instagramLogo from '/instagramWhite.jpg';
    import facebookLogo from '/facebookWhite.png';

</script>

<footer>
    <div class="copyRightFooter">
        <p>© Freebird 2022-2023</p>
    </div>

    <nav>
        <ul>
            <li class="linkedin">
                <a href="https://www.linkedin.com/company/carthago-ict/" title="linkedin" target="_blank">
                    <img src={linkedInLogo} alt="LinkedIn.com" title="LinkedIn.com">
                </a>
            </li>
            <li class="instagram">
                <a href="https://www.instagram.com/carthago_ict/?hl=nl" title="Instagram" target="_blank">
                    <img src={instagramLogo} alt="Instagram.com" title="Instagram.com">
                </a>
            </li>
            <li class="facebook">
                <a href="https://www.facebook.com/profile.php?id=100085386743694" title="Facebook" target="_blank">
                    <img src={facebookLogo} alt="facebook.com" title="facebook.com">
                </a>
            </li>
        </ul>
    </nav>
</footer>



<style>
    .copyRightFooter {
        text-align: center;
        position: relative;
        width: auto;
        max-width: 12.5em;
        margin: 0 auto;
    }

    @media screen and (max-width: 44.9375rem) {
        .copyRightFooter {
            margin: 0 0.3125em 0 0;
            float: right;
        }
    }
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
        display: inline-block;
        height: 3rem;
    }

    .instagram, .linkedin, .facebook  {
        /*position: fixed;*/
        text-align: left;
        color: white;
        /*left: 6%;*/
        bottom: 0.56em;
    }

    .instagram a {
        color: white;
    }

    .linkedin img {
        width: 1.875em;
        height: 1.875em;
    }

    .instagram img {
        width: 1.875em;
        height: 1.875em;
    }

    .facebook img {
        width: 1.75em;
        height: 1.75em;
        background: white;
        border: 0.06em white solid;
        border-radius: 0.18em;
    }

    .linkedin p {
        float: left;
    }

    footer ul {
        display: block;
        list-style:none;
        float: left;
        margin: 0 auto;
        padding: 0;
        position: absolute;
        overflow: auto;
        text-align: center;
        width: auto;
        top: 0;
    }

    footer li {
        margin: 0;
        padding: 0.625em 0.43em;
        display: inline-block;
    }

    @media screen and (max-width: 25em) {
        footer p {
            font-size: 0.81em;
        }

        footer li {
            padding: 0.625em 0.25em;
        }
    }

</style>
