<script>
    import Link from "./Link.svelte";
    import router from "page";
    import {tokenStore} from "../stores/Store";
    import {userRole} from "../stores/Store";

    import carthagoLogo from '/carthago.svg';

    function hamburgerMenu() {
        let x = document.getElementById("myLinks");
        x.style.display = x.style.display === "block" ? "none" : "block"
    }

    function onHomepage() {
        if ($tokenStore.token) {
            router.redirect("/elections");
        } else {
            router.redirect("/");
        }
    }
</script>

<header>

    <nav>
        <ul class="desktopHeader">
            {#if $tokenStore}
                <li>
                    <Link url="/elections" title="Verkiezingen"/>
                </li>
                {#if $userRole === "admin"}
                    <li>
                        <Link url="/createElection" title="Verkiezing aanmaken"/>
                    </li>
                    <li>
                        <Link url="/maintainUsers" title="Gebruikers beheren"/>
                    </li>
                {/if}
                <li>
                    <Link url="/" title="logout"/>
                </li>
            {/if}
            <img src={carthagoLogo} alt="carthago logo" on:click={onHomepage}>
        </ul>

        <div class="topNav">
            <img src={carthagoLogo} alt="carthago logo" on:click={onHomepage}>

            {#key tokenStore}
                {#if $tokenStore}
                    <div id="myLinks">
                        <ul>
                            <li>
                                <Link url="/elections" title="Verkiezingen"/>
                            </li>
                            {#if $userRole === "admin"}
                                <li>
                                    <Link url="/createElection" title="Verkiezing aanmaken"/>
                                </li>
                                <li>
                                    <Link url="/maintainUsers" title="Gebruikers beheren"/>
                                </li>
                            {/if}
                            <li>
                                <Link url="/" title="logout"/>
                            </li>
                        </ul>

                    </div>

                    <a href="javascript:void(0);" class="icon" on:click={hamburgerMenu}>
                        <i class="fa-bars"></i>
                        <i class="fa-bars"></i>
                        <i class="fa-bars"></i>
                    </a>
                {/if}
            {/key}
        </div>
    </nav>

</header>

<style media="screen">

    header {
        background-color: #000;
        overflow: auto;
        width: 100%;
    }

    header ul {
        display: block;
        list-style: none;
        margin: 0 auto;
        list-style:none;
        padding-right: 6.5%
    }

    header li {
        margin-top: 1.2%;
        padding: 0.625em 0.625em;
        display: inline-block;
    }

    header img {
        cursor: pointer;
        height: 10%;
        width: 10%;
        min-width: 8.4em;
        min-height: 2.5em;
        max-width: 9.7em;
        float: left;
        padding: .7%;
    }

    header button {
        background-color: #6b6b6b;
        float: right;
        text-decoration: none;
        cursor: pointer;
        color: #fff;
        border: 0.06em solid transparent;
        border-radius: 0.18em;
        box-shadow: rgba(255, 255, 255, .4) 0 0.06em 0 0 inset;
        box-sizing: border-box;
        font-size: 0.81em;
        font-weight: 400;
        padding: 0.8em .8em;
        text-align: center;
    }

    .logout {
        margin-top: 1.2%;
        margin-right: 0%;
        padding-left: 2%;
        padding-right: 2%
    }

    header button:hover {
        color: white;
        background-color: #646464;
    }

    .topNav {
        display: none;
    }

    @media screen and (max-width: 87.5em) {

        .desktopHeader {
            display: none;
        }

        .topNav {
            overflow: hidden;
            background-color: #000;
            display: block;
        }

        header button {
            float: left;
        }

        .topNav #myLinks {
            background-color: black;
            padding-bottom: 0.625em;
            z-index: 20;
            top: 2.9em;
            height: auto;
            width: 100%;
            display: none;
            position: absolute;
        }

        .topNav ul {
            margin-top: 1.875em;
            width: 100%;
        }

        .topNav li {
            margin-top: 0.31em;
            padding: 0.31em 0.625em;
            display: block;
            text-align: left;
        }

        .topNav a.icon {
            background: #000;
            display: block;
            position: absolute;
            width: 1.875em;
            height: 1.875em;
            right: 0;
            top: 0;
            padding-top: 0.81em;
        }

        .topNav a.icon:hover {
            background-color: #000;
        }

        .fa-bars {
            width: 100%;
            display: block;
            height: 0.18em;
            margin-bottom: 0.25em;
            background-color: white;
        }

        .topNav a:hover {
            background-color: #ddd;
            color: black;
        }
    }

    @media screen and (max-width: 25em) {
        header button {
            padding: 0.625em 0.31em;
        }

        header img {
            min-width: 6.25em;
            max-width: 9.375em;
        }
    }

</style>