<script>
    import {tokenStore} from "../stores/Store.js";

    export let url, title

    function closeHamburgerMenu() {
        let x = document.getElementById("myLinks");
        x.style.display = "none";
    }

    function logout(){
        tokenStore.set(undefined);
        closeHamburgerMenu();
    }
</script>

    {#if url == "/"}
        <a on:click={logout} href={url} title={title}>{title}</a>
    {:else}
    <a on:click={closeHamburgerMenu} href={url} title={title}>{title}</a>
    {/if}

<style>
    a {
        padding: 0.3125em;
        color: white;
        text-decoration: none;
    }

    a:hover {
        background-color: #e3e3e3;
        color: black;
    }

    @media screen and (max-width: 87.5em) {
        .topNav a {
            color: white;
            padding: 0.5em 0.5em 0 0.5em;
            text-decoration: none;
            font-size: 1.06em;
            display: block;
        }
    }
</style>
