<script>
    export let text;
    export let value;

    const maxPasswordLength = 100;
</script>

<label class="Password">
    {text}
    <input bind:value={value} class="passwordInput" required type="password" maxlength={maxPasswordLength}>
</label>

<style>
    .Password{
        margin: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .passwordInput {
        border-radius: 1.75em;
        margin: 1em auto;
        width: 85%;
        height: 1.5em;
        max-width: 15em;
        font-size: 1em;
    }
</style>