<script>
    import defaultProfilePicture from '/defaultProfilePicture.png';

    export let image;
    const onImageError = `this.onerror=null; this.src='${defaultProfilePicture}'`;
</script>

{#key image}
    {#if image == null}
        <img src={defaultProfilePicture} alt="candidateIcon" onerror={onImageError}>
    {:else}
        <img src={"data:image/gif;base64," + image.data} alt="candidateIcon" onerror={onImageError}>
    {/if}
{/key}

<style>
    img{
        outline-style: solid;
        display: block;
        border-radius: 10em;
        margin: 2em auto 1em;
        width: 9.5em;
        height: 9.5em;
    }
</style>