<script>
    import router from 'page';
    import {userId} from "../stores/Store.js";
    import {currentElectionIdStore, createdElectableUserIdStore} from "../stores/Store.js";
    import defaultProfilePicture from '/defaultProfilePicture.png';

    const onImageError = `this.src='${defaultProfilePicture}'`;

    let submitting = false;

    export let params;
    export let errorMessage;

    export let profileData = {
        "username": undefined,
        "description": undefined,
        "slogan": undefined,
        "standpoints": undefined,
        "votes": 0,
        "election": {
            "id": $currentElectionIdStore
        },
        "user": {
            "id": $userId
        },
        "file": undefined
    };
    export let onSubmit;

    const descriptionMaxLength = 200;
    const sloganMaxLength = 100;
    const viewsMaxLength = 200;
    const nameMaxLength = 20;

    let image = defaultProfilePicture;
    let profilePictureFormSubmit = false;

    async function submit() {
        try {
            await onSubmit();
            return true;
        } catch (error) {
            errorMessage = error;
            return false;
        }
    }

    async function changeUploadResponse() {
        let file = document.getElementById("fileInput").files[0];
        let img = document.getElementById("profileImage");

        let reader = new FileReader();
        reader.onload = function(e) {
            // binary data
            img.src = e.target.result;
        };
        reader.readAsDataURL(file);

        profilePictureFormSubmit = true;
    }

    function changeImageSrc() {
        let img = document.getElementById("profileImage");
        if (profileData !== undefined && profileData.file != null) {
            img.src = "data:image/gif;base64," + profileData.file.data
        }
    }

    async function submitForms() {
        if(submitting === true){
            return;
        }
        submitting = true;

        if(!await submit()){
            submitting = false;
            return;
        }
        if (profilePictureFormSubmit) {
            await document.getElementById("profilePictureForm").submit();
        }
        setTimeout(redirect, 200)
    }

    function redirect() {
        router.redirect('/elections/' + $currentElectionIdStore)
    }
</script>

<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
<form target="dummyframe" action="http://localhost:8080/files" method="post" enctype="multipart/form-data"
      id="profilePictureForm">
    <div class="profilePicture">
        <img on:load={changeImageSrc} id="profileImage" src={defaultProfilePicture} alt="profilePicture" onerror={onImageError}>

        <input id="fileInput" required type="file" name="file" accept="image/png, image/jpeg" bind:value={image}
               on:change={changeUploadResponse}>
        <label id="fileInputLabel" for="fileInput">Profielfoto aanpassen</label>
        <input id="hiddenInput" type="hidden" name="user_id" value={$createdElectableUserIdStore}/>
    </div>
</form>

<form id="profileForm" on:submit|preventDefault={submitForms}>
    <div class="formWindow">
        <label for="usernameInput" id="usernameInputLabel">Naam</label>
        <input required id="usernameInput" type="text" bind:value={profileData.username} maxlength="{nameMaxLength}">
        <div class="descriptionField">
            <label for="descriptionInput">Beschrijving (max lengte van {descriptionMaxLength})</label>
            <textarea required id="descriptionInput" bind:value={profileData.description}
                      maxlength="{descriptionMaxLength}"></textarea>
        </div>
        <div class="sloganField">
            <label for="sloganInput">Slogan (max lengte van {sloganMaxLength})</label>
            <textarea required id="sloganInput" bind:value={profileData.slogan}
                      maxlength="{sloganMaxLength}"></textarea>
        </div>
        <div class="viewsField">
            <label for="viewsInput">Standpunten (max lengte van {viewsMaxLength})</label>
            <textarea required id="viewsInput" bind:value={profileData.standpoints}
                      maxlength="{viewsMaxLength}"></textarea>
        </div>
        <input type="submit" id="confirmButton" value="Bevestig">
        {#key errorMessage}
            {#if errorMessage}
                <p id="error">{errorMessage}</p>
            {/if}
        {/key}
    </div>
</form>

<style>
    .profilePicture {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        color: white;
        margin: auto;
    }

    .profilePicture img {
        margin-bottom: 10px;
        border-radius: 10em;
        width: 12em;
        height: 12em;
    }

    .profilePicture input, button, img, label {
        margin: 5px 0;
    }

    .profilePicture input, button {
        font-size: 16px;
    }

    .profilePicture input {
        width: 320px;
    }

    #fileInput {
        display: none;
    }

    #fileInputLabel {
        font-size: 16px;
        background-color: white;
        color: black;
        width: 12em;
    }

    .formWindow {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        color: white;
        margin: auto auto 9%;
        padding-right: 1.75em;
        width: 60%;
    }

    #error {
        margin-top: 2em;
        color: red;
    }

    input {
        width: 20%;
        height: 1.875em;
        border-radius: 0.625em;
        font-size: 1.18em;
        line-height: 1.2em;
    }

    #usernameInput {
        width: 100%;
        height: 1.5em;
        margin-bottom: 1em;
    }

    #usernameInputLabel {
        text-align: center;
        display: block;
    }

    .profilePictureAndUsername img {
        border-style: solid;
        border-color: white;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        border-radius: 18.75em;
        margin-bottom: 0.31em;
    }

    .descriptionField {
        flex-basis: 100%;
        margin: 1em;
        width: 100%;
    }

    .sloganField {
        margin: 1em;
        height: 12%;
        width: 100%;
    }

    .viewsField {
        margin: 1em;
        height: 62.4%;
        width: 100%;
    }

    textarea {
        outline: none;
        border: none;
        display: block;
        resize: none;
        font-size: 1.18em;
        line-height: 1.2em;
        justify-content: left;
        width: 100%;
        height: 100%;
        border-radius: 0.625em;
    }

    label {
        color: white;
        font-size: 1.25em;
        display: block;
        text-align: center;
        width: 100%;
    }

    #confirmButton, #fileInputLabel{
        cursor: pointer;
        font-size: 1em;
        background-color: #6b6b6b;
        text-decoration: none;
        color: #fff;
        border: 0.06em solid transparent;
        border-radius: 0.18em;
        box-shadow: rgba(255, 255, 255, .4) 0 0.06em 0 0 inset;
        box-sizing: border-box;
        font-weight: 400;
        padding: .8em .8em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    #confirmButton {
        position: relative;
        bottom: -1.5em;
        line-height: 0;
        width: 120px;
    }

    @media (max-width: 510px) {
        label {
            font-size: 15px;
        }

        .profilePicture input {
            width: 220px;
        }
    }
</style>