<script>
    import Candidate from "./Candidate.svelte";

    export let candidate;
</script>


<div id="candidateHolder">
    <Candidate candidate={candidate}/>
    <b>{candidate.votes} stemmen</b>
</div>

<style>
    #candidateHolder{
        display: flex;
        margin-bottom: 3em;
        flex-direction: column;
    }

    b{
        margin: auto 1em;
    }
</style>