<script>
    import {tokenStore} from "../stores/Store.js";

    export let electionId;
    let message;

    async function sendReminders() {
        try {
            //try to send the emails
            message = "Sending reminders to all users";
            let response = await fetch('http://localhost:8080/elections/' + electionId + "/notify", {
                method: 'POST',
                headers: {
                    'AUTHORIZATION': $tokenStore.token,
                    'Port': window.location.port
                }
            });

            //check the response
            if (!response.ok) {
                //get the error message
                message = await response.json().message;
            } else {
                message = "Sent reminders to all users";
            }
        } catch (error) {
            message = "Kon geen verbinding maken met de database";
        }
    }
</script>

<button on:click={sendReminders}>Stuur herinnering</button>
{#if message}
    <p>{message}</p>
{/if}

<style>
    button {
        width: 35.5%;
        height: 3.125em;
        font-size: 1.125em;
        cursor: pointer;
        outline: none;
        background-color: #6b6b6b;
        text-decoration: none;
        color: #fff;
        border: 0.06em solid transparent;
        border-radius: 0.18em;
        box-shadow: rgba(255, 255, 255, .4) 0 0.06em 0 0 inset;
        box-sizing: border-box;
        font-weight: 400;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
</style>