<hr>

<style>
    hr{
        width: 95%;
        max-width: 45em;
        height: 0.25em;
        background-color: #e6e6e6;
        border-radius: 1rem 1rem 1rem 1rem;

        margin-top: 1em;
        margin-bottom: 1em;
    }
</style>