<script>
    import ElectionInfo from "./ElectionInfo.svelte";
    import ButtonElectSelf from "./Buttons/ButtonElectSelf.svelte";
    import ButtonEditRules from "./Buttons/ButtonEditRules.svelte";
    import ButtonDeleteElection from "./Buttons/ButtonDeleteElection.svelte";
    import ButtonView from "./Buttons/ButtonView.svelte";
    import ButtonUnElect from "./Buttons/ButtonUnElect.svelte";
    import ButtonEditCandidate from "./Buttons/ButtonEditCandidate.svelte";
    import ElectionListElementInfo from "./ElectionListElementInfo.svelte";
    import router from "page";
    import {currentElectionIdStore} from "../stores/Store";
    import {userRole} from "../stores/Store.js";
    import {userId} from "../stores/Store";

    export let election
    let foundUserId;
    userId.subscribe(value => {
        foundUserId = value;
    });
    let electables = election.electableUsers;
    let userIsVoter = isUserVoter();
    let userIsElectable = false;
    let electableId = 0;
    let errorMessage = "";

    /**
     * lets user view the election
     */
    function viewClick(){
        currentElectionIdStore.set(election.id);
        router.redirect('/elections/' + election.id);
    }

    /**
     * admin-only
     * edit the election
     */
    function editClick(){
        currentElectionIdStore.set(election.id);
        router.redirect('/editElection/' + election.id);
    }

    //check for each electable in election if logged in user is a voter.
    function isUserVoter(){
        for(let voter of election.voters){
            if(voter.user.id){
                if(foundUserId === voter.user.id){
                    return true;
                }
            }else{
                if(foundUserId === voter.user){
                    return true;
                }
            }
        }
        return false;
    }

    //check for each electable in election if logged in user is electable.
    for (let i = 0; i < electables.length; i++) {
        if(electables[i].user.id == undefined){
            if(foundUserId === electables[i].user){
                electableId = electables[i].id;
                userIsElectable = true;
                break;
            }
        }
        else{
            if(foundUserId === electables[i].user.id){
                electableId = electables[i].id;
                userIsElectable = true;
                break;
            }
        }
    }
</script>

<div class="container" id="container{election.id}">
    <ElectionInfo startDate = {new Date(election.startDate)} endDate = {new Date(election.endDate)}>
        <ElectionListElementInfo election={election}/><p>{errorMessage}</p>
        <div class="buttons">
            <ButtonView onView={viewClick}></ButtonView>
            {#if userIsVoter}
                {#if !userIsElectable}
                    <ButtonElectSelf electionId={election.id}></ButtonElectSelf>
                {/if}
                {#if userIsElectable}
                    <ButtonUnElect givenElectableId={electableId} bind:isElectable={userIsElectable} bind:returnedErrorMessage={errorMessage}></ButtonUnElect>
                    <ButtonEditCandidate electionId={election.id} candidateId={electableId}></ButtonEditCandidate>
                {/if}
            {/if}
            {#if ($userRole === "admin")}
                <ButtonEditRules onEdit={editClick}></ButtonEditRules>
                <ButtonDeleteElection electionId={election.id}/>
            {/if}
        </div>
    </ElectionInfo>
</div>

<style>
    p{
        color: red;
    }
    .container {
        display: flex; /* or inline-flex */
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 80%;
        padding-bottom: .5%;
    }

    .buttons{
        display: flex; /* or inline-flex */
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0.5%;
    }
</style>