<script>
    import Candidate from "./Candidate.svelte";

    export let candidate;
    export let onCheckboxChanged;
</script>

<div id="candidateHolder">
    <input type="checkbox" on:click={(event) => onCheckboxChanged(event.target, candidate.id)}>
    <Candidate candidate={candidate}/>
</div>

<style>
    #candidateHolder{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 3em;
    }

    input{
        margin: auto;
        width: 1.5em;
        height: 1.5em;
    }

    @media(max-width: 83.125em){
        input{
            width: 3em;
            height: 3em;
        }
    }
</style>