<script>
    import router from 'page';
    import {currentCandidateIdStore, currentElectionIdStore} from "../../stores/Store";

    export let electionId;
    export let candidateId;

    function editProfile(){
        //sets the proper id's so the system knows which candidate form which election is going to be changed
        currentElectionIdStore.set(electionId);
        currentCandidateIdStore.set(candidateId);

        //redirect to the edit profile page so the user can change its profile
        router.redirect('/edit_profile');
    }
</script>


<button class="popupButton" role="button" on:click={editProfile}>Bewerk profiel</button>


<style>
    .popupButton {
        background-color: #6b6b6b;
        border: 0.06em solid transparent;
        border-radius: 0.18em;
        box-shadow: rgba(255, 255, 255, .4) 0 0.06em 0 0 inset;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 0.8em;
        margin-left: 0.6em;
        font-weight: 400;
        line-height: 1.15385;
        padding: 0.5em .8em;
        text-align: center;
        margin-bottom: 1%;
    }

    .popupButton:hover,
    .popupButton:focus {
        background-color: #5c5c5c;
    }

    .popupButton:focus {
        box-shadow: 0 0 0 0.25em rgba(0, 149, 255, .15);
    }

    .popupButton:active {
        background-color: #0064bd;
        box-shadow: none;
    }
</style>