<script>
    import ConfirmationPopup from "../ConfirmationPopup.svelte";
    import {currentElectionIdStore} from "../../stores/Store";

    let popup;
    import router from 'page';

    export let electionId;

    function popupConfirm() {
        currentElectionIdStore.set(electionId);
        router.redirect('/create_profile/' + electionId);
    }
</script>
<ConfirmationPopup text="Weet je zeker dat je jezelf verkiesbaar wilt stellen?" confirm={popupConfirm}
                   confirmbutton="ja" cancelButton="nee" id={"electSelf"+electionId} bind:this={popup}/>
<button class="buttonElect" role="button" on:click={() => popup.openModal()}>Stel verkiesbaar</button>

<style>
    .buttonElect {
        background-color: #6b6b6b;
        border: 0.06em solid transparent;
        border-radius: 0.18em;
        box-shadow: rgba(255, 255, 255, .4) 0 0.06em 0 0 inset;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 0.8em;
        margin-left: 0.6em;
        font-weight: 400;
        line-height: 1.15385;
        padding: 0.5em .8em;
        text-align: center;
        margin-bottom: 1%;
    }

    .buttonElect:hover,
    .buttonElect:focus {
        background-color: #5c5c5c;
    }

    .buttonElect:focus {
        box-shadow: 0 0 0 0.25em rgba(0, 149, 255, .15);
    }

    .buttonElect:active {
        background-color: #0064bd;
        box-shadow: none;
    }
</style>
