<script>
    import ConfirmationPopup from "../ConfirmationPopup.svelte";
    import {tokenStore} from "../../stores/Store.js";
    let popup;
    export let electionId

    /**
     * deletes election based on election id.
     * @throws backendError something went wrong in the backend
     */
    async function deleteElection() {
        try {
            let res = await fetch('http://localhost:8080/elections/' + electionId, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'AUTHORIZATION': $tokenStore.token
                }
            });

            // This is if the election does not exist and the delete button shows up for some reason when it's not suposed to.
            if (!res.ok) {
                res = await res.json();
                throw("Error " + res.status + ": " + res.message);
            }

            //remove election
            let electionBox = document.getElementById("container" + electionId);
            electionBox.remove();

        }catch (error){
            alert(error)
        }
    }
</script>

<ConfirmationPopup text="Weet je zeker dat je deze verkiezing wilt verwijderen?" confirm={deleteElection} election={electionId} confirmbutton="ja" cancelButton="nee" id="deleteElection{electionId}" bind:this={popup} />
<button class="buttonDelete" role="button" on:click={() => popup.openModal()}>Verwijder verkiezing</button>



<style>
    .buttonDelete {
        background-color: #6b6b6b;
        border: 0.06em solid transparent;
        border-radius: 0.18em;
        box-shadow: rgba(255, 255, 255, .4) 0 0.06em 0 0 inset;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        font-size: 0.81em;
        font-weight: 400;
        line-height: 1.15385;
        padding: 0.5em .8em;
        text-align: center;
        margin-bottom: 1%;
        margin-left: 0.625em;
    }

    .buttonDelete:hover,
    .buttonDelete:focus {
        background-color: #5c5c5c;
    }

    .buttonDelete:focus {
        box-shadow: 0 0 0 0.25em rgba(0, 149, 255, .15);
    }

    .buttonDelete:active {
        background-color: #0064bd;
        box-shadow: none;
    }
</style>