<script>
    import ConfirmationPopup from "../ConfirmationPopup.svelte";
    import {tokenStore} from "../../stores/Store";

    let popup;
    export let givenElectableId;
    export let isElectable;
    export let returnedErrorMessage;

    function popupConfirm() {
        unElect();
    }

    /**
     * Gets the information of all existing elections
     * @returns Election elements existing in database
     */
    async function unElect(){
        try {
            // Fetches request
            let request = 'http://localhost:8080/electableUsers/' + givenElectableId;
            let response = await fetch(request, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': $tokenStore.token
                }
            })
            // Checks if the response was valid
            if (response.status < 200 || response.status >= 300) {
                throw "Error" + response.status;
                return;
            }
            isElectable = false;
        }
        catch(Error){
            returnedErrorMessage = Error;
        }
    }

</script>

<ConfirmationPopup  text="Weet je zeker dat je je terug wilt trekken uit de verkiezing?" confirm={popupConfirm} confirmbutton="ja" cancelButton="nee" id="unElectSelf" bind:this={popup} />
<button class="buttonElect" role="button"on:click={() => popup.openModal()}>Trek terug</button>

<style>
    .buttonElect {
        background-color: #6b6b6b;
        border: 0.06em solid transparent;
        border-radius: 0.18em;
        box-shadow: rgba(255, 255, 255, .4) 0 0.06em 0 0 inset;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        font-size: 0.8em;
        font-weight: 400;
        line-height: 1.15385;
        padding: 0.5em .8em;
        text-align: center;
        margin-bottom: 1%;
        margin-left: 0.6em;
    }

    .buttonElect:hover,
    .buttonElect:focus {
        background-color: #5c5c5c;
    }

    .buttonElect:focus {
        box-shadow: 0 0 0 0.25em rgba(0, 149, 255, .15);
    }

    .buttonElect:active {
        background-color: #0064bd;
        box-shadow: none;
    }
</style>
