<script>
    import router from 'page';
    import Home from "./pages/Home.svelte";
    import {onMount} from "svelte"
    import footer from "./components/Footer.svelte"
    import LoginPage from "./pages/LoginPage.svelte";
    import ElectionPage from "./pages/ElectionPage.svelte";
    import maintainUser from "./pages/MaintainUsers.svelte";
    import header from "./components/Header.svelte";
    import CreateElection from "./pages/CreateElection.svelte";
    import EditElection from "./pages/EditElection.svelte";
    import CreateProfilePage from "./pages/CreateProfilePage.svelte";
    import NewUserPage from "./pages/NewUserPage.svelte";
    import ChangeEmailPage from "./pages/ChangeEmailPage.svelte";
    import CandidateInformationScreen from "./pages/CandidateInformationScreen.svelte";
    import EditProfilePage from "./pages/EditProfilePage.svelte";

    onMount(async () => {
        router.start();
    })

    let page, params, currentRoute;

    router('/', (ctx) => {
        page = LoginPage;
        currentRoute = ctx.pathname;
    });
    router('/elections', (ctx) => {
        page = Home;
        currentRoute = ctx.pathname;
    });
    router('/elections/:id', (ctx) => {
        page = ElectionPage;
        currentRoute = ctx.pathname;
    });
    router('/createElection', (ctx) => {
        page = CreateElection;
        currentRoute = ctx.pathname;
    });
    router('/editElection/:electionId', (ctx) => {
        page = EditElection;
        currentRoute = ctx.pathname;
    });
    router('/maintainUsers', (ctx) => {
        page = maintainUser;
        currentRoute = ctx.pathname;
    });
    router('/', (ctx) => {
        page = Home;
        currentRoute = ctx.pathname;
    });
    router('/login', (ctx) => {
        page = LoginPage;
        currentRoute = ctx.pathname;
    });
    router('/elections/:electionId/candidates/:candidateId', (ctx) => {
        page = CandidateInformationScreen;
        currentRoute = ctx.pathname;
    });
    router('/users/:userID/change-password/:token', (ctx) => {
        page = NewUserPage;
        currentRoute = ctx.pathname;
        params = ctx.params;
    });
    router('/create_profile/:id', (ctx) => {
        page = CreateProfilePage;
        params = ctx.params;
        currentRoute = ctx.pathname;
    });
    router('/users/:userID/change-email', (ctx) => {
        page = ChangeEmailPage;
        currentRoute = ctx.pathname;
    });
    router('/edit_profile', (ctx) => {
        page = EditProfilePage;
        currentRoute = ctx.pathname;
    });
</script>

<main>
    <svelte:component this={header}/>
    <svelte:component this={page} {params}/>
    <svelte:component this={footer}/>
</main>
