<script>
    import ProfileImage from "../components/ProfileImage.svelte";
    import {tokenStore} from "../stores/Store";
    import {currentCandidateIdStore} from "../stores/Store";
    import {currentElectionIdStore} from "../stores/Store";
    import router from "page";

    //redirect to home if the user does not have a token
    if(!$tokenStore){
        router.redirect("/");
    }

    let candidateId;
    currentCandidateIdStore.subscribe(id => candidateId = id);

    let electionId;
    currentElectionIdStore.subscribe(id => electionId = id);

    /**
     * Gets the information of the candidate defined in the path parameters
     * @returns ElectableUser candidate found with the path parameters
     */
    async function getCandidateInformation(){
        // Checks if the candidate store is valid
        if(!candidateId){
            throw "Kon kandidaat niet vinden";
        }

        // Fetches the candidate
        let response = await fetch('http://localhost:8080/electableUsers/' + candidateId, {
            method: 'GET',
            headers: {
                'Authorization': $tokenStore.token,
                'Content-Type': 'application/json'
            }
        })

        // Checks if the response was valid
        if (response.status < 200 || response.status >= 300) {
            response = await response.json();
            throw await "Error " + response.status + ": " + response.message;
            return;
        }

        return await response.json();
    }
</script>
{#if candidateId && electionId}
    {#await getCandidateInformation()}
    {:then candidate}
        <ProfileImage image={candidate.file}/>
        <b>{candidate.username}</b>
        <section id="information">
            <div class="informationHolder" id="description">
                <b>Beschrijving</b>
                <p>{candidate.description}</p>
            </div>

            <div id="rightInformation">
                <div class="informationHolder" id="slogan">
                    <b>Slogan</b>
                    <p>{candidate.slogan}</p>
                </div>
                <div class="informationHolder" id="standpoints">
                    <b>Standpunten</b>
                    <p>{candidate.standpoints}</p>
                </div>
            </div>
        </section>
        <a href="/elections/{electionId}"><button>Terug</button></a>
    {:catch error}
        <b class="error">{error}</b>
        <a href="/elections/{electionId}"><button>Terug</button></a>
    {/await}
    {:else}
    <b class="error">Er is iets fout gegaan</b>
    {/if}

<style>
    #information{
        height: 20em;
        display: flex;
        justify-content: space-evenly;
    }

    #slogan{
        height: 40%;
    }

    #standpoints{
        margin-top: 1em;
        height: 55%;
    }

    #description, #rightInformation{
        height: 100%;
    }

    .informationHolder{
        width: 90vw;
        max-width: 33em;
        display: block;
    }

    p{
        text-align: left;
        overflow-wrap: break-word;
        overflow-y: scroll;
        height: -webkit-fill-available;
        height: -moz-available;

        border-style: solid;
    }

    b{
        margin-top: 1em;
    }

    button{
        cursor: pointer;
        width: 75vw;
        max-width: 20em;
        border-radius: 1.75em;
        height: 3em;
        font-size: 1em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2.5em;
    }

    .error{
        margin: 1em;
        display: block;
        color: red;
    }
    
    @media (max-width: 72.81em) {
        #information{
            display: block;
            flex-direction: column;
            height: auto;
        }

        .informationHolder{
            margin-left: auto;
            margin-right: auto;
        }
    }
    
</style>