<script>
    /**
     * This page is for admin only, so that the admin can change someone's e-mail when needed.
     */

    import Title from "../components/Title.svelte";
    import EmailField from "../components/EmailField.svelte";
    import router from "page";
    import {currentUserIdStore} from "../stores/Store";
    import {tokenStore} from "../stores/Store";
    import ConfirmationPopup from "../components/ConfirmationPopup.svelte";

    let popup;


    //redirect to home if the user does not have a token
    if(!$tokenStore){
        router.redirect("/");
    }

    let userId;
    currentUserIdStore.subscribe(id => userId = id);

    let email1;
    let email2;
    let errorMessage = undefined;

    let userData;

    /**
     * Gets a user
     *
     * @returns User the user
     */
    async function getUserInformation() {
        // Checks if the user store is valid
        if(!userId){
            throw "Kon gebruiker niet vinden";
        }

        //initialize url
        let url = "http://localhost:8080/users/" + userId;

        //fetch data
        let response = await fetch(url, {
            method: 'GET',
            headers: {
                'Authorization': $tokenStore.token,
                'Content-Type': 'application/json'
            }
        })

        //response check
        if (response.status < 200 || response.status >= 300) {
            response = await response.json();
            throw await "Error " + response.status + ": " + response.message;
            return;
        }

        response = await response.json();
        userData = response;
        return response;
    }

    /**
     * Validates an email
     *
     * @returns boolean is the email valid
     */
    function validateEmail(email){
        return /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email);
    }

    /**
     * Updates a user
     *
     * @returns User the updated user
     * @throws userIdException User id was null
     * @throws backendException Something went wrong in the backend
     */
    async function updateUser(){
        // Checks if the user store is valid
        if(!userId){
            throw "Kon gebruiker niet vinden";
        }

        //initialize url
        let url = "http://localhost:8080/users/" + userId;

        //fetch data
        let response = await fetch(url, {
            method: 'PUT',
            headers: {
                'Authorization': $tokenStore.token,
                'Content-Type': 'application/json',
            },
            body: email2
        })

        //response check
        if (response.status < 200 || response.status >= 300) {
            response = await response.json();
            throw "Error " + response.status + ": " + response.message;
            return;
        }

        response = await response.json();
        return response;
    }

    /**
     * Submits the form with the new email
     *
     */
    async function submit(){
        //guard clauses to check if input is valid
        if(!email1){
            errorMessage = "Geef een email op om te veranderen";
            return;
        }else if (!email2){
            errorMessage = "Geef een email op om de eerste email naar te veranderen";
            return;
        }else if(email1 != userData.email){
            errorMessage = "Originele email is incorrect";
            return;
        }else if(compareEmail()){
            errorMessage = "Emails zijn hetzelfde";
            return;
        }

        if(!validateEmail(email2)){
            errorMessage = "Incorrecte email gegeven";
            return;
        }

        //if the input is valid, try to update the user
        try{
            userData.email = email2;
            await updateUser();
            errorMessage = undefined;
            router.redirect("/maintainUsers");
        }catch (error){
            userData.email = email1;
            errorMessage = error;
            return;
        }
    }

    function openPopup (event) {
        event.preventDefault();
        popup.openModal();
        return false;
    }

    function compareEmail() {
        return email1 === email2;
    }
</script>

<section class="ChangeEmail">
    <ConfirmationPopup text="Weet je zeker dat je jouw email wil aanpassen?" confirm={submit} confirmbutton="ja"
                       cancelButton="nee"
                       id="editEmail" bind:this={popup}/>
    <Title title="Verander de email van een gebruiker"/>
    {#await getUserInformation()}
        <p>Gebruiker data wordt geladen...</p>
    {:then userdata}
        <form id="changeEmailForm" on:submit={openPopup}>

            <p>Huidige email van deze gebruiker: {userdata.email}</p>
            <EmailField bind:value={email1} text="Huidige email (ter bevestiging)" displayedText={userdata.email}/>
            <EmailField bind:value={email2} text="Nieuwe email"/>
            <button id="submit-email" type="submit">Bevestig</button>
            {#key errorMessage}
                {#if errorMessage}
                    <label id="message">{errorMessage}</label>
                {/if}
            {/key}
        </form>
    {:catch error}
        <p style="color: red">{error}</p>
    {/await}
</section>

<style>
    .ChangeEmail, #changeEmailForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #changeEmailForm {
        margin: 2em;
    }

    button {
        cursor: pointer;
        margin: 1em auto;
        width: 85%;
        height: 2em;
        max-width: 15em;
        font-size: 1.5em;
        position: relative;
        bottom: -1.5em;
        background-color: #6b6b6b;
        text-decoration: none;
        color: #fff;
        box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
        box-sizing: border-box;
        font-weight: 400;
        padding: .8em .8em;
        text-align: center;
        line-height: 0;
        border: 1px solid transparent;
        border-radius: 3px;
    }

    button:hover,
    button:focus {
        background-color: #5c5c5c;
    }

    #message {
        color: red;
        margin-top: 1.5em;
    }

    p {
        font-size: 1.25em;
    }
</style>