<script>
    import ElectionDataBox from "../components/ElectionDataBox.svelte";
    import Title from "../components/Title.svelte";
    import router from "page";
    import {tokenStore} from "../stores/Store";

    //redirect to home if the user does not have a token
    if(!$tokenStore){
        router.redirect("/");
    }

    let errorMessage;
    let election = undefined;

    async function postElection() {
        try {
            let response = await fetch('http://localhost:8080/elections', {
                method: 'POST',
                headers: {
                    'Authorization' : $tokenStore.token,
                    'Content-Type': 'application/json',
                    'Port': window.location.port
                },
                body: JSON.stringify(election)
            });
            if (response.status < 200 || response.status >= 300) {
                response = await response.json();
                errorMessage = "Error " + response.status + ": " + response.message;
                return;
            }

            //redirect to the elections page after the election is created
            onEditComplete();

        } catch (e) {
            errorMessage = e;
        }
    }

    function onEditComplete(){
        router.redirect("/elections");
    }
</script>

<Title title="Verkiezing Aanmaken"/>
<ElectionDataBox bind:errorMessage={errorMessage} bind:election={election} onSubmit={postElection}/>

