<script>
    import ProfilePage from "./../components/ProfilePage.svelte";
    import Title from "./../components/Title.svelte";
    import router from "page";
    import {createdElectableUserIdStore, currentElectionIdStore, tokenStore, userId} from "../stores/Store";

    //redirect to home if the user does not have a token
    if(!$tokenStore){
        router.redirect("/");
    }

    let profileData;

    async function createProfile(){
        //stop when candidate data is null or undefined
        if(!profileData){
            throw "Kandidaat gegevens zijn niet volledig";
        }
        let response = await fetch('http://localhost:8080/elections/{electionId}/electableUsers', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': $tokenStore.token
            },
            body: JSON.stringify({
                "username": profileData.username,
                "description": profileData.description,
                "slogan": profileData.slogan,
                "standpoints": profileData.standpoints,
                "votes": 0,
                "election" : {
                    "id" : $currentElectionIdStore
                },
                "user" : {
                    "id" : $userId
                },
                "file": profileData.file
            })
        });
        let data = JSON.parse(await response.text());
        $createdElectableUserIdStore = data['id'];
        //error handling
        if (!response.ok) {
            response = await response.json();
            throw "Error " + response.status + ": " + response.message;
        }
    }
</script>

<Title title = "Profiel aanmaken"/>
<ProfilePage bind:profileData={profileData} onSubmit={createProfile}></ProfilePage>