<script>
    import Title from "./../components/Title.svelte";
    import ProfilePage from "../components/ProfilePage.svelte";
    import {
        createdElectableUserIdStore,
        currentCandidateIdStore,
        currentElectionIdStore,
        tokenStore
    } from "../stores/Store";
    import router from "page";

    //redirect to home if the user does not have a token
    if(!$tokenStore){
        router.redirect("/");
    }

    let profileData;
    let candidateId

    // function updateProfile(){
    //     router.redirect('/elections/1');
    // }
    currentCandidateIdStore.subscribe(value => {
        candidateId = value;
    });

    async function getCandidate() {
        // Fetches request
        let request = 'http://localhost:8080/electableUsers/' + candidateId;
        let response = await fetch(request, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': $tokenStore.token
            }
        })
        // Checks if the response was valid
        if (response.status < 200 || response.status >= 300) {
            throw "Error" + response.status;
        }

        response = await response.json();
        profileData = response;
        return response;
    }

    async function updateProfile(){
        //stop when profileData is null or undefined
        if(!profileData){
            throw "Kandidaat gegevens zijn niet volledig";
        }

        let response = await fetch('http://localhost:8080/elections/' + $currentElectionIdStore + '/electableUsers/' + $currentCandidateIdStore, {
            method: 'PUT',
            headers: {
                'Authorization': $tokenStore.token,
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(profileData)
        });
        let data = JSON.parse(await response.text());
        $createdElectableUserIdStore = data['id'];
        //error handling
        if (!response.ok) {
            response = await response.json();
            throw "Error " + response.status + ": " + response.message;
        }
    }
</script>

<Title title = "Profiel bewerken"/>
{#await getCandidate()}
    <p>Informatie aan het laden</p>
    {:then candidate}
    <ProfilePage bind:profileData={profileData} onSubmit={updateProfile}></ProfilePage>
    {:catch error}
    <p>{error}</p>
{/await}

<style>
    p{
        color: red;
    }
</style>
