<script>
    import ElectionDataBox from "../components/ElectionDataBox.svelte";
    import Title from "../components/Title.svelte";
    import router from "page";
    import {currentElectionIdStore, tokenStore} from "../stores/Store.js";
    import {onMount} from "svelte";

    //redirect to home if the user does not have a token
    if(!$tokenStore){
        router.redirect("/");
    }

    let currentElectionId;
    currentElectionIdStore.subscribe((value)=>{
        currentElectionId = value;
    })

    let election;
    let errorMessage;

    /**
     * Fetches election with specific id
     *
     * @return Election the election found
     */
    async function fetchElection() {
        // Checks if the current election store is valid
        if (!currentElectionId) {
            throw "Kon verkiezing niet vinden";
        }

        // Fetches the election from the backend
        let response = await fetch('http://localhost:8080/elections/' + currentElectionId, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': $tokenStore.token,
            }
        })

        // Validates if the election was found
        if (response.status < 200 || response.status >= 300) {
            response = await response.json();
            throw "Error " + response.status + ": " + response.message;
            return;
        }

        response = await response.json();
        election = response;
        return response;
    }

    /**
     * Updates an election
     *
     * @returns Election the updated election
     * @throws electionIdException if id was not found
     * @throws backendException Something went wrong in the backend
     */
    async function updateElection(){
        // Checks if the election store is valid
        if(!currentElectionId){
            throw "Kon verkiezing niet vinden";
        }

        //initialize url
        let url = "http://localhost:8080/elections/" + currentElectionId;

        //fetch PUT data
        let response = await fetch(url, {
            method: 'PUT',
            headers: {
                'Authorization': $tokenStore.token,
                'Content-Type': 'application/json',
                'Port': window.location.port
            },
            body: JSON.stringify(election)
        })

        //response check
        if (response.status < 200 || response.status >= 300) {
            response = await response.json();
            throw "Error " + response.status + ": " + response.message;
            return;
        }

        response = await response.json();
        return response;
    }

    async function onEditComplete(){
        //try to update the election
        try {
            await updateElection();

            //redirect to the home page
            router.redirect("/elections");
        }catch (error){
            errorMessage = error;
        }
    }
</script>

<Title title="Verkiezing Instellingen"/>
{#await fetchElection()}
    <p>Gegevens aan het laden</p>
{:then fetchedElection}
    <ElectionDataBox bind:election={election} errorMessage={errorMessage} onSubmit={onEditComplete}/>
{:catch error}
    <p style="color: red">Error tijdens het laden van de data</p>
{/await}