<script>
    import UpcomingElectionPage from "./UpcomingElectionPage.svelte";
    import StartedElectionPage from "./StartedElectionPage.svelte";
    import FinishedElectionPage from "./FinishedElectionPage.svelte";
    import {currentElectionIdStore, tokenStore} from "../stores/Store";
    import router from "page";

    //redirect to home if the user does not have a token
    if(!$tokenStore){
        router.redirect("/");
    }

    let currentElectionId;
    currentElectionIdStore.subscribe(id => currentElectionId = id);

    let election;

    /**
     * Fetches election with specific id
     *
     * @return Election the election found
     */
    async function fetchElection() {
        // Checks if the current election store is valid
        if(!currentElectionId){
            throw "Kon verkiezing niet vinden";
        }

        // Fetches the election from the backend
        let response = await fetch('http://localhost:8080/elections/' + currentElectionId, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': $tokenStore.token
            }
        })

        // Validates if the election was found
        if (response.status < 200 || response.status >= 300) {
            response = await response.json();
            throw "Error " + response.status + ": " + response.message;
            return;
        }

        // Returns the found election
        return await response.json();
    }
</script>

<section id="ElectionPage">
    {#await fetchElection()}
        <p>De verkiezing is aan het laden</p>
    {:then election}
        {#if Date.parse(election.endDate) < Date.now()}
            <FinishedElectionPage election={election}/>
        {:else if Date.parse(election.startDate) > Date.now()}
            <UpcomingElectionPage election={election}/>
        {:else }
            <StartedElectionPage election={election}/>
        {/if}
    {:catch error}
        <p id="error">{error}</p>
    {/await}
</section>

<style>
    #error{
        color: red;
    }
    #ElectionPage {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>
