<script>
    import Title from "../components/Title.svelte";
    import Stripe from "../components/Stripe.svelte";
    import ResultCandidate from "../components/ResultCandidate.svelte";

    export let election;

    /**
     * Gets the candidate with the most votes
     *
     * @return ElectableUser the candidate with the most votes
     */
    function getWinningCandidate(){
        let winner;
        let mostVotes = -1;

        // Loops through all of the candidates and checks if they have more votes
        for(const candidate of election.electableUsers){
            const votes = candidate.votes;
            if(votes > mostVotes){
                winner = candidate;
                mostVotes = votes;
            }
        }

        return winner;
    }

    const winner = getWinningCandidate();
</script>

<Title title={election.name}/>
{#if winner}
    <b>Winnaar: {winner.username} ({winner.votes} stemmen)</b>
    {:else}
    <b>Winnaar: Geen</b>
    {/if}
<Stripe/>

<section>
    <h2>Kandidaten</h2>
    <div id="Candidates">
        {#each election.electableUsers as candidate}
            <ResultCandidate candidate={candidate}/>
        {/each}
    </div>
</section>

<style>
    ul{
        padding-left: 0;
        display: inline-block;
    }

    li{
        list-style: none;
    }

    h2{
        color: #e6e6e6;
        text-align: center;
    }

    #Candidates{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

</style>