<script>
    import ElectionList from "../components/ElectionList.svelte";
    import {tokenStore} from "../stores/Store";
    import router from "page";
    export let params;

    if(!$tokenStore){
        router.redirect("/");
    }
</script>
<!--temp text.-->
<h1>Verkiezing systeem Carthago ICT</h1>
{#if $tokenStore}
<ElectionList></ElectionList>
{/if}