<script>
    import router from "page";
    import {tokenStore} from "../stores/Store.js";
    export let params;

    const maxEmailLength = 50;
    const maxPasswordLength = 100;

    let email, password;

    let errorMessage = undefined;

    const url = "http://localhost:8080/login";

    let loggingIn = false;

    async function login(){
        if(loggingIn){
            return;
        }
        loggingIn = true;

        //check if email is filled in
        if (!email){
            errorMessage = "Email is niet ingevuld";
            loggingIn = false;
            return;
        }

        //check if password is filled in
        if (!password){
            errorMessage = "Wachtwoord is niet ingevuld";
            loggingIn = false;
            return;
        }

        try {
            //try to fetch a token with given credentials
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Access-Control-Allow-Origin': '*',
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                body: JSON.stringify({
                    'email': email,
                    'password': password
                })

            });

            //check if response is not ok
            if (!response.ok) {
                //change errormessage to given status code
                switch (response.status) {
                    case 400:
                        errorMessage = "Email of wachtwoord is niet ingevuld";
                        break;
                    case 401:
                        errorMessage = "Email of wachtwoord klopt niet";
                        break;
                    case 404:
                        errorMessage = "Gebruiker niet gevonden";
                        break;
                }
                //jump out of the function using return
                loggingIn = false;
                return;
            }
            //get the token
            const responseJson = await response.json();

            //store the token in the store
            tokenStore.set(responseJson);

            //redirect to the homepage
            router.redirect("/elections")
        }catch (error){
            errorMessage = error;
        }
        loggingIn = false;
    }
</script>

<section class="login">
    <h1>Login met jouw account</h1>
    <form on:submit|preventDefault={login}>
        <div class="textField">
            <input type="email" required id="emailInput" placeholder=" " bind:value={email} maxlength={maxEmailLength}>
            <label for="emailInput">Email</label>
        </div>
        <div class="textField">
            <input type="password" required id="passwordInput" placeholder=" " bind:value={password} maxlength={maxPasswordLength}>
            <label for="passwordInput">Wachtwoord</label>
        </div>
        <input type="submit" value="Login" id="loginButton" name="loginSubmit">
        {#key errorMessage}
            {#if errorMessage}
                <h2 id="message">{errorMessage}</h2>
            {/if}
        {/key}
    </form>
</section>

<style>
    .login {
        position: relative;
        top: 16em;
        left: 50%;
        width: 70%;
        max-width: 20em;
        transform: translate(-50%, -50%);
        border-radius: 3em;
        color: white;
    }
    .login h1{
        text-align: center;
    }
    #loginButton{
        width: 100%;
        height: 3.125em;
        font-size: 1.125em;
        cursor: pointer;
        outline: none;
        background-color: #6b6b6b;
        float: right;
        text-decoration: none;
        color: #fff;
        border: 0.06em solid transparent;
        border-radius: 0.18em;
        box-shadow: rgba(255, 255, 255, .4) 0 0.06em 0 0 inset;
        box-sizing: border-box;
        font-weight: 400;
        text-align: center;
    }
    #loginButton:hover{
        transition: .5s;
        background: lightgray;
    }
    form, label {
        color: black;
    }
    form .textField{
        position: relative;
        border-bottom: 0.1em solid #adadad;
        margin: 2em 0;
    }
    .textField input{
        color: white;
        width: 100%;
        padding: 0 3%;
        height: 2.5em;
        font-size: 1em;
        border: none;
        background: none;
        outline: none;
    }
    .textField label{
        position: absolute;
        top: 50%;
        left: 0.35em;
        color: #adadad;
        transform: translateY(-50%);
        font-size: 1em;
        pointer-events: none;
        transition: .5s;
    }
    .textField input:focus ~ label,
    .textField input:not(:placeholder-shown) ~ label{
        top: -0.31em;
        color: white;
    }
    h2{
        font-size: 1em;
    }
    #message {
        color: red;
    }
</style>