<script>
    import router from 'page';
    import Title from '../components/Title.svelte'
    import ConfirmationPopup from "../components/ConfirmationPopup.svelte";
    import {currentUserIdStore} from "../stores/Store";
    import {tokenStore} from "../stores/Store";

    //redirect to home if the user does not have a token
    if(!$tokenStore){
        router.redirect("/");
    }

    let search, popup, selectedUserId, users;

    let errorMessage;

    users = getUserInformation();

    /**
     * Deletes a user from the database
     */
    function deleteUser() {
        if (selectedUserId) {
            //delete the user
            fetchDeleteUser(selectedUserId)
        }
    }

    /**
     * Redirects the user to the edit email page
     */
    function editUser(id) {
        currentUserIdStore.set(id);
        let url = '/users/' + id + "/change-email";
        router.redirect(url);
    }

    /**
     * Selects a user to delete
     */
    function selectDeleteUser(id) {
        //popup to confirm delete
        popup.openModal();
        selectedUserId = id;
    }

    /**
     * Fetches all the users from the database
     * @return List<User> all users
     * @throws Error something went wrong in the backend
     */
    async function getUserInformation() {
        //fetch data
        let response = await fetch("http://localhost:8080/users/", {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Authorization' : $tokenStore.token
            }
        })

        //response check
        if (response.status < 200 || response.status >= 300) {
            response = await response.json();
            throw await "Error " + response.status + ": " + response.message;
            return;
        }

        return await response.json();
    }

    /**
     * Tries to delete a user from the database
     */
    async function fetchDeleteUser(id){
        try{
            //initialize url
            let url = "http://localhost:8080/users/" + id;

            //fetch data
            let response = await fetch(url, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': $tokenStore.token
                }
            });

            //response check
            if (response.status < 200 || response.status >= 300) {
                response = await response.json();
                errorMessage = "Error " + response.status + ": " + response.message;
                return;
            }

            //reload user database
            users = getUserInformation();

            return response;
        }catch (error){
            errorMessage = error;
        }
    }
</script>

<ConfirmationPopup text="Weet je zeker dat je deze gebruiker wilt verwijderen?" confirmbutton="ja"
                   cancelButton="nee" bind:this={popup} confirm={() => deleteUser()} id="popup"/>

<Title title="Gebruikers beheren"/>

<input type="search" bind:value={search} id="searchbar" placeholder="Zoeken naar een gebruiker">

{#key errorMessage}
    {#if errorMessage}
        <b class="error">{errorMessage}</b>
    {/if}
{/key}

<div id="usersContainer">
    {#await users}
        <p>Gebruikers worden geladen</p>
    {:then usersArray}
        {#each usersArray as user}
            {#if !search || user.email.includes(search) }
                {#if user.role !== "admin"}
                <div class="userContainer">
                    <p>{user.email}</p>
                    <button class="editButton" on:click={() => editUser(user.id)}>Bewerken</button>
                    <button class="deleteButton"
                            on:click={() => selectDeleteUser(user.id)}>Verwijderen
                    </button>
                </div>
                {/if}
            {/if}
        {/each}
    {:catch error}
        <p class="error">Er is iets onverwachts gebeurt</p>
    {/await}
</div>

<style>
    button{
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 0.75em;

        height: 2em;
    }

    .error{
        margin-top: 1em;
        color: red;
        display: block;
    }

    #usersContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .userContainer {
        border: solid white;
        margin: 1.5rem;
        overflow: hidden;
    }

    .userContainer p {
        padding-left: 1rem;
        padding-right: 1rem;
        word-break: break-word;
    }

    .editButton {
        float: left;
        background-color: #6b6b6b;
        border: 1px solid transparent;
        border-radius: 3px;
        box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.15385;
        padding: .2em;
    }

    .deleteButton {
        float: right;
        background-color: #6b6b6b;
        border: 1px solid transparent;
        border-radius: 3px;
        box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.15385;
        padding: .2em;
    }

    #searchbar {
        height: 2em;
        width: 85%;
        max-width: 18.75em;
        margin: 1%;
        padding: .5%;
    }

    input {
        width: 100%;
        height: 1.75em;
        font-size: 0.875em;
        border-radius: 0.625em;
        color: black;
        border: none;
        outline: none;
        line-height: 1.2em;
        background-color: white;
    }
</style>