<script>
    import Title from "../components/Title.svelte";
    import PasswordField from "../components/PasswordField.svelte";
    import router from "page";
    import {tokenStore} from "../stores/Store";
    import ConfirmationPopup from "../components/ConfirmationPopup.svelte";

    export let params;
    let password1;
    let password2;
    let popup;
    const userId = params.userID;
    const token = params.token;

    const minPasswordLength = 7;

    let errorMessage = undefined;

    /**
     * Submits the changes
     *
     * @returns boolean did the submit fail
     */
    async function submit(){
        let passed = true;

        // Validates the passwords
        if(!password1){
            errorMessage = "Wachtwoord kan niet leeg zijn";
            passed = false;
        }else if(password1.length < minPasswordLength){
            errorMessage = "Wachtwoord moet minstens " + minPasswordLength + " karakters lang zijn";
            passed = false;
        }
        else if(!passwordMatches()){
            errorMessage = "Wachtwoorden zijn niet hetzelfde";
            passed = false;
        }else{
            // Tries to update the user
            try{
                tokenStore.set(await updateUser());
            }catch (error){
                errorMessage = error;
                passed = false;
            }
        }

        // Cancels navigation if something went wrong
        if(!passed){
            return false;
        }

        // Redirects the user to the elections page
        router.redirect("/elections");
        errorMessage = undefined;
    }

    /**
     * Updates a user
     *
     * @returns User the updated user
     * @throws userIdException User id was null
     * @throws backendException Something went wrong in the backend
     */
    async function updateUser(){
        // Checks if the user store is valid
        if(!userId){
            throw "Kon gebruiker niet vinden";
        }
        if(!token){
            throw "Ongeldige token";
        }

        //initialize url
        let url = "http://localhost:8080/users/" + userId;

        try {
            //fetch data
            let response = await fetch(url, {
                method: 'PUT',
                headers: {
                    'Authentication-Token': token,
                    'Content-Type': 'application/json',
                },
                body: password1
            })

            //response check
            if (response.status < 200 || response.status >= 300) {
                response = await response.json();
                throw "Error " + response.status + ": " + response.message;
                return;
            }

            response = await response.json();
            return response;
        }catch (error){
            errorMessage = error;
        }
    }

    function passwordMatches() {
        return password1 === password2;
    }
</script>

<section class="CreateUser">
    <Title title="Maak een gebruiker aan"/>
<!--    <form id="passwordForm" on:submit|preventDefault={submit}>-->
        <PasswordField bind:value={password1} text="Voer een wachtwoord in"/>
        <PasswordField bind:value={password2} text="Bevestig uw wachtwoord"/>
        <ConfirmationPopup text="Weet je zeker dat je jouw wachtwoord wil aanpassen?" confirm={submit} confirmbutton="ja"
                           cancelButton="nee"
                           id="submitPassword" bind:this={popup}/>
        <button id="submit-password" type="submit" on:click={() => popup.openModal()}>Bevestig</button>
        {#key errorMessage}
            {#if errorMessage}
                <label id="message">{errorMessage}</label>
            {/if}
        {/key}
<!--    </form>-->
</section>

<style>
    .CreateUser, #passwordForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #passwordForm {
        margin: 2em;
    }

    button {
        cursor: pointer;
        margin: 1em auto;
        width: 85%;
        height: 2em;
        max-width: 15em;
        position: relative;
        bottom: -1.5em;
        font-size: 16px;
        background-color: #6b6b6b;
        text-decoration: none;
        color: #fff;
        border: 1px solid transparent;
        border-radius: 3px;
        box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
        box-sizing: border-box;
        font-weight: 400;
        padding: .8em .8em;
        text-align: center;
        line-height: 0;
    }
    
    button:hover,
    button:focus {
        background-color: #5c5c5c;
    }

    #message {
        color: red;
        margin-top: 1em;
    }
</style>