<script>
    import Title from "../components/Title.svelte";
    import Stripe from "../components/Stripe.svelte";
    import VotableCandidate from "../components/VotableCandidate.svelte";
    import ConfirmationPopup from "../components/ConfirmationPopup.svelte";
    import router from "page";
    import {writable} from "svelte/store";
    import {tokenStore, userId, userRole} from "../stores/Store.js";
    import Candidate from "../components/Candidate.svelte";
    import SendReminderButton from "../components/SendReminderButton.svelte";

    export let election;

    let errorMessage = undefined;
    let popup;
    let votes = writable([]);

    /**
     * Changes the amount of votes that the user has
     */
    function onVoteOnCandidateChanged(checkbox, electableId) {
        // Checks if the user added or removed a vote
        if (checkbox.checked === true) {

            //check if user can still vote
            if ($votes.length < election.numberOfVotes) {
                $votes.push(electableId);
                votes.set($votes);
            } else {
                //if the user was not allowed to vote more, uncheck the checkbox
                checkbox.checked = false;
            }
        } else {
            //if users unchecks a checkbox, remove vote of list of votes
            $votes.splice($votes.indexOf(electableId), 1);
            votes.set($votes);
        }
    }

    async function popupConfirm() {
        //try to post the votes
        try {
            let response = await fetch('http://localhost:8080/elections/' + election.id + "/votes", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'AUTHORIZATION': $tokenStore.token
                },
                body: JSON.stringify($votes)
            });


            if (response.ok) {
                //register that the user has voted and redirect to the elections page
                election.voters.find(voter => voter.user.id == $userId).hasVoted = true;
                router.redirect("/elections");

            } else {
                //handle error
                let json = await response.json();
                errorMessage = json.message;
            }
        }
        catch (error){
            errorMessage = "Kon geen verbinding maken met de database";
        }
    }
</script>

<Title title={election.name}/>
{#if election.voters.filter(voter => !voter.hasVoted).map(voter => voter.user.id).includes($userId)}
    <div id="remainingVotesBox">
        <b id="remainingVotes">Resterende stemmen: {election.numberOfVotes - $votes.length}</b>
        {#key errorMessage}
            {#if errorMessage}
                <p id="error">{errorMessage}</p>
            {/if}
        {/key}
        <Stripe/>
    </div>
{/if}

{#if $userRole === "admin"}
<SendReminderButton electionId={election.id}/>
<Stripe/>
{/if}

<section>
    <h2>Kandidaten</h2>
    <ul id="Candidates">
        <li>
            {#each election.electableUsers as candidate}
                {#if election.voters.filter(voter => !voter.hasVoted).map(voter => voter.user.id).includes($userId)}
                    {#if !election.canVoteOnSelf && candidate.user === $userId}
                        <Candidate candidate={candidate}/>
                        {:else}
                        <VotableCandidate candidate={candidate} onCheckboxChanged={onVoteOnCandidateChanged}/>
                    {/if}
                {:else}
                    <Candidate candidate={candidate}/>
                {/if}
            {/each}
        </li>
    </ul>

    {#if election.voters.filter(voter => !voter.hasVoted).map(voter => voter.user.id).includes($userId)}
        <ConfirmationPopup text="Wil je je stemmen doorgeven?" confirm={popupConfirm} confirmbutton="ja"
                           cancelButton="nee"
                           id="electSelf" bind:this={popup}/>
        <button id="submit" on:click={popup.openModal()}>Bevestig</button>
    {/if}
</section>

<style>
    #error{
        color: red;
    }

    ul {
        padding-left: 0;
        display: inline-block;
    }

    li {
        list-style: none;
    }

    h2 {
        color: #e6e6e6;
        text-align: center;
    }

    #Candidates {
        display: flex;
    }

    #Candidates {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    button {
        border-radius: 1.75em;
        height: 3em;
        font-size: 1em;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        cursor: pointer;
        outline: none;
        background-color: #6b6b6b;
        text-decoration: none;
        color: #fff;
        border: 1px solid transparent;
        box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
        box-sizing: border-box;
        font-weight: 400;
        text-align: center;
    }

    #submit {
        width: 65%;
        max-width: 20em;
        cursor: pointer;
    }

    #electSelf {
        width: 75%;
        max-width: 30em;
    }

    #remainingVotes {
        font-size: 1.2em;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 0.04em;
    }

    #remainingVotesBox {
        background-color: #18191A;
        position: sticky;
        top: 0em;
        padding-top: 1em;
    }
</style>