<script>
    import Title from "../components/Title.svelte";
    import Stripe from "../components/Stripe.svelte";
    import Candidate from "../components/Candidate.svelte";
    import ConfirmationPopup from "../components/ConfirmationPopup.svelte";
    import router from "page";
    import {currentCandidateIdStore, tokenStore, userId, currentElectionIdStore} from "../stores/Store";

    let popup;

    export let election;

    let foundUserId;
    userId.subscribe(value => {
        foundUserId = value;
    });
    let electables = election.electableUsers;
    let userIsElectable = false;
    const userIsVoter = isUserVoter();
    let reloading = false;
    let electableId = 0;
    let errorMessage = "";
    let elements = {}

    //check for each electable in election if logged in user is a voter.
    function isUserVoter(){
        for(let voter of election.voters){
            if(foundUserId === voter.user.id){
                return true;
            }
        }
        return false;
    }

    //check for each electable in election if logged in user is electable.
    for (let i = 0; i < electables.length; i++) {
        if(electables[i].user.id == undefined){
            if(foundUserId === electables[i].user){
                electableId = electables[i].id;
                userIsElectable = true;
                break;
            }
        }
        else{
            if(foundUserId === electables[i].user.id){
                electableId = electables[i].id;
                userIsElectable = true;
                break;
            }
        }
    }

    /**
     * Gets the information of all existing elections
     * @returns Election elements existing in database
     */
    async function popupConfirmUnElect(){
        try {
            // Fetches request
            let request = 'http://localhost:8080/electableUsers/' + electableId;
            let response = await fetch(request, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': $tokenStore.token
                }
            })

            // Checks if the response was valid
            if (response.status < 200 || response.status >= 300) {
                throw "Error" + response.status;
                return;
            }

            //remove user from list of electable users for the current election
            if (response.ok) {
                election = await fetchCurrentElection()
                electables = election.electableUsers;
                userIsElectable = false;
                elements = {};
            }
        }
        catch(Error){
            errorMessage = Error;
        }
    }

    async function fetchCurrentElection(){
        try {

            // Fetches elections
            let response = await fetch('http://localhost:8080/elections/' + election.id, {
                method: 'GET',
                headers: {
                    'Authorization': $tokenStore.token,
                    'Content-Type': 'application/json',
                }
            })

            // Checks if the response was valid
            if (response.status < 200 || response.status >= 300) {
                response = await response.json();
                throw "Error " + response.status + ": " + response.message;
                return;
            }

            //return the current election
            if (response.ok) {
                return response.json();
            }
        }
        catch (error){errorMessage = error}
    }

    function popupConfirmElect(){
        //redirect to createProfilePage for the user
        router.redirect('/create_profile/' + $currentElectionIdStore);
    }

    function editProfile(){
        //redirect to EditProfilePage
        currentCandidateIdStore.set(electableId);
        router.redirect('/edit_profile');
    }

</script>

<Title title={election.name}/>

{#if userIsVoter}
    {#if !userIsElectable}
        <ConfirmationPopup  text="Weet je zeker dat je jezelf verkiesbaar wilt stellen?" confirm={popupConfirmElect} confirmbutton="ja" cancelButton="nee" id="electSelf" bind:this={popup} />
        <button id="electSelf" on:click={popup.openModal()}>Stel verkiesbaar</button>
    {:else}
        <ConfirmationPopup  text="Weet je zeker dat je jezelf terug wilt trekken?" confirm={popupConfirmUnElect} confirmbutton="ja" cancelButton="nee" id="electSelf" bind:this={popup} />
        <div id="electableButtonHolder">
            <button class="electableButtons" id="unElectSelf" on:click={popup.openModal()}>Trek terug</button>
            <button class="electableButtons" on:click={editProfile}>Bewerk profiel</button>
        </div>
    {/if}
    <Stripe/>
{/if}

<section>
    <h2>Kandidaten</h2>
    <ul id="Candidates">
        <li>
            {#if  electables.length == 0}
                {:else if electables.length == 1}
                <Candidate candidate={electables[0]}/>
                {:else}
            {#each electables as candidate}
                <Candidate candidate={candidate}/>
            {/each}
            {/if}
        </li>
    </ul>
</section>

<style>
    ul{
        padding-left: 0;
        display: inline-block;
    }

    li{
        list-style: none;
    }

    h2{
        color: #e6e6e6;
        text-align: center;
    }

    #Candidates{
        display: flex;
    }

    #Candidates{
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    button{
        width: 100%;
        height: 50px;
        font-size: 18px;
        cursor: pointer;
        outline: none;
        background-color: #6b6b6b;
        text-decoration: none;
        color: #fff;
        border: 1px solid transparent;
        border-radius: 3px;
        box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
        box-sizing: border-box;
        font-weight: 400;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    #electSelf{
        width: 75%;
        max-width: 30em;
    }

    .electableButtons{
        width: 35%;
        max-width: 20em;
    }

    @media (max-width: 25em){
        .electableButtons{
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            display: block;
            width: 70%;
        }
    }
</style>